---
title: Organic Fresh Fruits & Vegetables.
hero: Organic Fresh Fruits & Vegetables.
subtitle: We are a Family Owned Business. We offer Doorstep Delivery to Shivane, Warje, Malawadi, Kondhwa & SunCity Area of Pune, Maharashtra.
---

<div class="content" id="products">
	<section>
		<div class="container">

			<h2 class="product-title"> Vegetables </h2>

			<ul class="product-list">
				{% for product in site.vegetables %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<h4>from ₹ {{ product.price }}</h4>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>

			<hr />

			<h2 class="product-title"> Fruits </h2>

			<ul class="product-list">
				{% for product in site.fruits %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<h4>from ₹ {{ product.price }}</h4>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>

			<hr />

			<h2 class="product-title"> Spices </h2>

			<ul class="product-list">
				{% for product in site.spices %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<h4>from ₹ {{ product.price }}</h4>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>

			<hr />

			<h2 class="product-title"> Flowers </h2>

			<ul class="product-list">
				{% for product in site.flowers %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<h4>from ₹ {{ product.price }}</h4>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>

		</div>
	</section>
</div>
