---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					{{ page.description_markdown }}

					<h5>{{ page.sizes | join: ' | ' }}</h5>
					<h4>from ₹ {{ page.price }}</h4>
					<!-- Switch button to WhatsApp message link -->
					<a href="https://wa.me/{{ site.author.phone }}&text={{ page.name }}">Order Now!</a>
					<!-- <div class="button">{% include snipcart-button.html product=page %}</div> -->
				</div>
			</div>
		</div>
	</section>
</div>
